/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (max-width: 828px) {
  .cube {
    width: 100vw!important;
    height: 828px!important;
  }
  .name {
    font-size: 42px!important;
  }
  .typed {
    font-size: 23px!important;
  }
}

@media (max-width: 750px) {
  .cube {
    width: 100vw!important;
    height: 750px!important;
  }
  .name {
    font-size: 42px!important;
  }
  .typed {
    font-size: 23px!important;
  }
}


@media (max-width: 621px) {
  .cube {
    width: 100vw!important;
    height: 621px!important;
  }
  .name {
    font-size: 42px!important;
  }
  .typed {
    font-size: 23px!important;
  }
}
 
